* {
  box-sizing: border-box;
  margin: 0%;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #a0938d;
}

header {
  background-color: #a48b64;
  margin: 0%;
}

.mini-nav {
  background-color: black;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-nav > h3 {
  color: white;
  font-size: small;
}

header > nav {
  color: #4e10c2;
  padding: 0%;
  margin: 0%;
}

#navbarDark > form {
  margin-right: 5rem;
}

#navbarDark > ul > li {
  background-color: #9289a3;
}

#navbarDark {
  background-color: #a299b2;
}
.container-fluid,
.form-control {
  background-color: #c7c7af;
  color: #b6b093;
}

.nombre-ecommerce {
  background-color: rgb(158, 169, 195);
  margin-left: 14rem;
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;

  padding: 0;
}

.container-carrito {
  margin-right: 6rem;
}

i > img {
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 10rem;
  bottom: 1rem;
}

#carouselWithControls {
  width: 100%;
  height: 35rem;
}

.carousel-inner {
  width: 100%;
  height: 35rem;
}

.carousel-item {
  width: 100%;
  height: 35rem;
}

main {
  width: 100%;

  padding: 0rem 10rem 10rem;
  background-color: #d2d3c8;
  margin: 0;
  display: flex;
  justify-content: center;
}

body > h1 {
  margin-bottom: 0%;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  padding: 4rem;
  font-family: "Cormorant Garamond", serif;

  position: relative;
  top: 0rem;
  margin-bottom: 0px;
  background-color: #bab59d;
}

#productos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.div-item {
  padding: 5rem, 0rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 480px;

  background-color: #a8a08c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #c3beaf;
  }
}

.div-item > img {
  width: 200px;
  height: 200px;
  position: relative;
  right: -24px;
  top: -20px;
}

.div-item > h3 {
  font-size: 20px;
}

.div-item > .ver-mas {
  color: black;
  background-color: #b9b5a4;
  position: relative;
  top: 2rem;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: #b9b8a3;
  }
}

.div-item > .agregar-carrito {
  color: black;
  background-color: #a6a491;
  position: relative;
  top: 2rem;

  &:hover {
    background-color: #c4beae;
  }
}

.decoration {
  width: 100%;
  height: 10%;
}

.cart-small {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: -30px;
  position: absolute;
  bottom: 0.2rem;
}

footer {
  width: 100%;
  height: 15rem;
  background-color: #cfcbbb;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

a {
  background-color: #d4cfbe;
}

.container-flex-redes {
  width: 10%;
  height: 0;

  background-color: #c1c1b0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2.5rem;
}

.png-redes {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #b9b7ac;
}

.container-ubicacion {
  display: flex;
  justify-content: center;
  background-color: #a19b89;
}

.preguntas-frecuentes {
  background-color: #afae98;
}

ul {
  list-style: none;
  background-color: #bebcac;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  background-color: #a9a698;
}
